.home-page{

    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1{
        font-size: 53px;
        margin: 0;
        font-weight: 400;
        font-family: 'Coolvetica';
        color: rgb(207, 201, 193);

        &::before{
            content: '<h1>';
            color:#e8da1f;
            position: absolute;
            font-size: 18px;
            margin-top: -40px;
            left:15px;
            opacity: 0.6;
            animation: fadeIn 1s 1.7s backwards;
            font-family: 'La Belle Aurore';
        }

        &::after{
            content: '</h1>';
            color:#e8da1f;
            font-family: 'La Belle Aurore';
            position: absolute;
            font-size: 18px;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }
}

h2{
    color: rgb(207, 201, 193);
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-btn{
    color: #e8da1f;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #e8da1f;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover{
        background: #e8da1f;
        color: #70706e;
    }
}

.me{
    position: absolute;
    right: 5%;
    padding: 10px;
    border: 2px solid #e8db1f57;
}

.img_container{
position: absolute;
top: 10%;
right: 20%;
}

.me img{
    height: 650px;
    border-radius: 5px;
}

.home-links{
    display: flex;
    gap: 20px;
}