*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  width: 100%;
  margin: 0;
  font: 300 1px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #7a7c7d;
  overflow: hidden;
  display: block;
}

#root{
  width: 100%
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}